
// Body
$body-bg: #051220;
$font-color: #3e4a58;

// Colors
$white: #ffffff;
$black: #000000;
$red: #df4e55;
$blue: #3e4a58;
$dark-blue: #051220;
$darker_blue: #050810;

// Widths & Heights
$header-footer-height: 60px;
