
// Body
$body-bg: #051220;
$font-color: #3e4a58;

// Colors
$white: #ffffff;
$black: #000000;
$red: #df4e55;
$blue: #3e4a58;
$dark-blue: rgba(7, 16, 33, 0.41);
$darker_blue: #050810;

$placeholder_color: #adadad;

// Widths & Heights
$header-height: 60px;
$footer-height: 40px;
