//Fonts
//@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,700");
@import "_variables";
@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";
@import "~toastr/toastr.scss";
@import "~vue-multiselect/dist/vue-multiselect.min.css";
@import "multiselect.scss";

/*******************
Global Styles
*******************/

* {
	outline: none;
}

body {
	height: 100vh;
	margin: 0;
	overflow-x: hidden;
	color: $font-color;
	background-color: $white;
}

html {
	position: relative;
	min-height: 100%;
}

a {
	color: $red;

	&:hover {
		color: $black;
	}
}

#header,
#footer {
	z-index: 10;
	background-color: $darker_blue;

	a {
		&:hover {
			color: $red;
		}
	}
}

#header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: $header-height;
	padding: 10px 150px;
	color: $dark-blue;
	text-align: center;
	background-color: $white;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);

	#navbar-logo {
		width: 85px;
	}
}

#footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	//height: $footer-height;
	padding: 5px;
	color: white;
	text-align: center;
	background-color: $blue;
}

.red-button {
	padding: 2px 30px;
	margin: auto 5px;
	font-weight: normal;
	color: $white;
	text-align: center;
	background-color: $red;
	border: none;
	border-radius: 5px;
}

.white-button {
	padding: 2px 30px;
	font-weight: normal;
	color: $dark-blue;
	text-align: center;
	border: 1px solid $dark-blue;
	border-radius: 5px;
}

.page-section {
	padding: 50px;
	background-color: $white;
	border: solid 1px #f0f0f0;
	border-radius: 5px;
}

.card-shadow {
	box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*******************
Form Styles
*******************/

.form-group {
	.control-label {
		margin-bottom: 0;
		line-height: 2.2;
	}
}

span.required {
	color: $red;
}

.form-control::-webkit-input-placeholder { color: $placeholder_color; }  /* WebKit, Blink, Edge */
.form-control::-moz-placeholder { color: $placeholder_color; }  /* Mozilla Firefox 19+ */
.form-control::-ms-input-placeholder { color: $placeholder_color; }  /* Microsoft Edge */
.form-control:-moz-placeholder { color: $placeholder_color; }  /* Mozilla Firefox 4 to 18 */
.form-control:-ms-input-placeholder { color: $placeholder_color; }  /* Internet Explorer 10-11 */

.multiselect__placeholder {
	margin-bottom: 0;
	color: $placeholder_color;
}

.multiselect__tags {
	padding: 0.375rem 0.75rem;
	border: 1px #ced4da solid;

	i {
		line-height: 0.8;
	}
}

.multiselect__single {
	padding: 0;
	margin-bottom: 0;
	line-height: 1.5;
}

.validation-error {
	padding: 0;
	margin-bottom: 0;
	line-height: 2;

	&::before {
		content: "* ";
	}
}
